@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  transition: background 2000ms ease;
}

#quote-box {
  align-items: center;
  background: ghostwhite;
  border-radius: 2px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 20px;
  padding: 30px 50px;
  transition: height 500ms ease;
}

#quote-box span {
  display: inline-block;
}

#text {
  font-family: 'Raleway';
  font-size: 2em;
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
}

#author {
  font-family: 'Raleway';
  font-size: 1.1em;
  font-weight: 400;
  padding: 20px 0;
  transition: opacity 1000ms ease;
}

.fa-quote-left {
  float: left;
  margin-bottom: 10px;
  transition: opacity 1000ms ease;
}

.fa-quote-right {
  float: right;
  margin-top: 10px;
  transition: opacity 1000ms ease;
}

.buttons {
  border-top: 1px dashed;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
}

.button {
  border-radius: 2px;
  color: ghostwhite;
  margin-left: 6px;
  padding: 6px;
  transition: background 1000ms ease;
}

.new-quote-btn {
  border: 0;
  border-radius: 2px;
  color: ghostwhite;
  cursor: pointer;
  padding: 8px 10px;
  transition: background 1000ms ease;
}

.new-quote-btn[disabled] {
  cursor: wait;
}

.button:hover,
.new-quote-btn:hover {
  opacity: 0.85;
}

.button:active,
.new-quote-btn:active {
  opacity: 1;
}

.left {
  align-items: center;
  display: flex;
}

.right {
  align-items: center;
  display: flex;
}

.show {
  animation: fade-in 1s ease;
}

.hide {
  animation: fade-out 1s ease;
}

.gh-button {
  color: ghostwhite;
  margin-top: 20px;
  opacity: 0.85;
}

.gh-button:hover {
  opacity: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
